body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.a{
    color: rgb(153, 102, 7);
}
.b{
    color: tomato;
}
.flexible-cantainer{
    display: flex;
    margin-bottom: 150px;
}
.half-with{
    width: 50%;
    padding-left: 2%;
    text-align:justify;
}
.half-with img{
    width: 70%;
}
.button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right ;
    margin-right: ;
}
